html {
  font-size: 10px;
  @include md-desk-only { // 1360 - 1659
    font-size: 10px;
  }
  @include sm-desk-only { //1200 -1360
    font-size: 10px;
  }
  @include limbo-only { // 798 - 1200
    font-size: 10px;
  }
  @include tab-only { // 480 - 798
    font-size: 6px;
  }
  @include mob-only { // < 480
    font-size: 5px;
  }
  :where(.wp-block) {
    max-width: 90%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: var(--title-line-height);
  }
  scroll-behavior: smooth;
}
main {
  max-width: 2560px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.site-main, .interface-interface-skeleton__content {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Font Primary',
  }
  div, p, a {
      font-family: 'Font Primary';
  }
  p, li {
    margin-top: 0;
    font-size: var(--body-size);
  }
  p, a {
    font-size: 1.8rem;
    @include limbo-max {
      font-size: 18px;
    }
    @include mob-only {
      font-size: 15px;
    }
 }
h2 {
  font-size: var(--title-size-2);
}
h3 {
  font-size: var(--title-size-3);
}
h4 {
  font-size: var(--title-size-4);
}
h5 {
  font-size: var(--title-size-5);
}
h6 {
  font-size: var(--title-size-6);
}
}
.container {
  width: var(--site-width);
  max-width: var(--site-max-width);
  margin: auto;
}

.page-id-1179 .header-main {
  display: none;
}

.block-display-none {
  display: none !important;
}