/**
* Importing by glob example
* https://github.com/maoberlehner/node-sass-magic-importer/tree/master/packages/node-sass-magic-importer#globbing
 */
.settings-logos .acf-input {
  display: flex;
  align-items: center;
}

:root {
  --title-size-1: 7rem;
  --title-size-2: 5.8rem;
  --title-size-3: 5rem;
  --title-size-4: 3rem;
  --title-size-5: 2.5rem;
  --title-size-6: 2rem;
  --title-line-height: 1.2;
  --b-space-1: 10rem;
  --b-space-2: 12.5rem;
  --b-space-3: 15rem;
  --theme-transition: .3s all;
  --site-max-width: 1600px;
}
@media (min-width: 797.6px) {
  :root {
    --site-width: 90%;
    --body-size: 18px;
  }
}
@media (max-width: 797.5px) {
  :root {
    --site-width: calc(100% - 50px);
    --body-size: 16px;
  }
}

/* ACF Chrome bug Fix */
.interface-interface-skeleton__content div.acf-field-tab, .acf-settings-wrap div.acf-field-tab {
  display: block !important;
  font-size: 0;
  height: 0;
  padding: 0 !important;
  opacity: 0;
  pointer-events: none;
}
.interface-interface-skeleton__content div.acf-field-tab *, .acf-settings-wrap div.acf-field-tab * {
  pointer-events: none !important;
}

div.block_space_1 {
  padding-top: var(--b-space-1);
  padding-bottom: var(--b-space-1);
}
div.block_space_2 {
  padding-top: var(--b-space-2);
  padding-bottom: var(--b-space-2);
}
div.block_space_3 {
  padding-top: var(--b-space-3);
  padding-bottom: var(--b-space-3);
}
div.block_space_1_2 {
  padding-top: var(--b-space-1);
  padding-bottom: var(--b-space-2);
}
div.block_space_1_3 {
  padding-top: var(--b-space-1);
  padding-bottom: var(--b-space-3);
}
div.block_space_3_1 {
  padding-top: var(--b-space-3);
  padding-bottom: var(--b-space-1);
}
div.block_space_2_3 {
  padding-top: var(--b-space-2);
  padding-bottom: var(--b-space-3);
}
div.block_space_3_2 {
  padding-top: var(--b-space-3);
  padding-bottom: var(--b-space-2);
}
div.margin-sm {
  margin-bottom: 3rem;
}
div.margin-md {
  margin-bottom: 5rem;
}
div.margin-lg {
  margin-bottom: 7rem;
}
div.margin-xl {
  margin-bottom: 10rem;
}

.il_block {
  position: relative;
  z-index: 2;
}

.il_block_bg {
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.il_block_bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
@media (min-width: 797.6px) {
  .il_block_bg .mob_bg {
    display: none;
  }
}

.intro_title {
  margin-bottom: 2rem;
}

@media (max-width: 479.5px) {
  .il_hm {
    display: none;
  }
}
/* Buttons */
.il_btn {
  padding: 0.5rem 4rem;
  text-decoration: none;
  color: #fff;
  display: inline-flex;
  font-size: 2rem;
}
.il_btn:first-child {
  background-color: var(--color-1);
}
.il_btn:nth-child(2) {
  background-color: var(--color-2);
}
.il_btn:nth-child(3) {
  background-color: var(--color-3);
}
.il_btn:not(:last-child), .il_btn:not(:only-child) {
  margin-right: 1rem;
}

.il_block_intro.left, .section.left {
  text-align: left;
}
.il_block_intro.center, .section.center {
  text-align: center;
}
.il_block_intro.right, .section.right {
  text-align: right;
}
.il_block_intro.style-2 *, .section.style-2 * {
  color: #fff;
}

.il_accordion-item {
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  margin-bottom: 2rem;
  border-radius: 1rem;
}
.il_accordion-item:not(.open) .il_accordion-body {
  display: none;
}
.il_accordion-item .il_accordion-header {
  font-size: var(--title-size-4);
  color: var(--color-2);
  cursor: pointer;
  padding: 0.5rem 3rem;
  position: relative;
  display: flex;
  align-items: center;
}
.il_accordion-item .il_accordion-header::after {
  content: "";
  background-image: url("../../icons/chevron-down.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 3rem;
  height: 3rem;
  position: absolute;
  right: 3rem;
  transition: var(--theme-transition);
}
.il_accordion-item .il_accordion-body {
  padding: 1rem 3rem 2rem;
}
.il_accordion-item.open .il_accordion-header::after {
  transform: scaleY(-1);
}

.il_columns .il_columns_inner {
  display: flex;
  flex-wrap: wrap;
}

.fp-enabled #fp-nav {
  z-index: 8;
}
@media (max-width: 479.5px) {
  .fp-enabled #fp-nav.fp-right {
    right: 5px;
  }
  .fp-enabled #fp-nav.fp-right ul li a.active span {
    margin-left: -4px;
  }
  .fp-enabled #fp-nav.fp-left {
    left: 5px;
  }
  .fp-enabled #fp-nav.fp-left ul li a.active span {
    margin-left: -4px;
  }
  .fp-enabled #fp-nav .fp-tooltip {
    display: none;
  }
  .fp-enabled #fp-nav ul li a.active span {
    width: 8px;
    height: 8px;
  }
}
@media (min-width: 1199.6px) {
  .fp-enabled .stick-main #page .header-top {
    position: absolute;
    top: 0;
    width: 100%;
  }
  .fp-enabled .stick-main #page .header-top + .header-main {
    position: absolute;
    top: 6rem;
    width: 100%;
  }
  .fp-enabled .stick-main #page .fp-overflow {
    margin-top: 10.5rem;
  }
}

.il_gallery_inner {
  display: flex;
  flex-wrap: wrap;
}
.il_gallery-item {
  display: flex;
  height: 100%;
}
.il_gallery-item[data-fancybox=il_gallery] {
  cursor: pointer;
}
.il_gallery-item img {
  height: 100%;
}

.il_hero_slidein {
  background-size: cover;
  display: flex;
  background-color: #F5F5F5;
}
.il_hero_slidein .il_hero_inner_wrap {
  padding-top: 20rem;
  width: 100%;
  position: relative;
  background-color: #000105;
}
.il_hero_slidein .il_hero_inner_wrap .il_block_bg {
  overflow: hidden;
  text-align: right;
  left: unset;
  z-index: 1;
  transition: var(--theme-transition);
}
.il_hero_slidein .il_hero_inner_wrap .il_block_bg video {
  position: relative;
}
.il_hero_slidein:not(.si_open) .si_triggers {
  margin-bottom: 10rem;
}
.il_hero_slidein.si_open .il_hero_inner_wrap .il_block_bg {
  opacity: 0.4;
}
.il_hero_slidein.si_open .si_container {
  background-position: top;
}
@media (min-width: 1199.6px) and (max-width: 1360.5px) {
  .il_hero_slidein.si_open .si_container {
    min-height: calc(100vh - 16rem);
    display: flex;
  }
  .il_hero_slidein.si_open .si_container .si_container_inner {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.il_hero_slidein.si_open .si_container .si_triggers {
  padding-bottom: 10rem;
}
.il_hero_slidein.si_open .si_container .si_triggers .il_block_bg {
  opacity: 1;
}
@media (min-width: 1199.6px) and (max-width: 1360.5px) {
  .il_hero_slidein.si_open .si_container .si_triggers {
    flex: 1 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
  }
}
@media (min-width: 1199.6px) and (max-width: 1360.5px) {
  .il_hero_slidein.si_open .si_container .si_triggers {
    padding-bottom: 6rem;
  }
}
@media (min-width: 1360.6px) and (max-width: 1659.5px) {
  .il_hero_slidein.si_open .si_container .si_triggers {
    padding-bottom: 7rem;
  }
}
.il_hero_slidein .il_hero_inner {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 20rem;
  z-index: 2;
}
.il_hero_slidein .il_hero_inner .intro_title, .il_hero_slidein .il_hero_inner .il_hero_subtitle, .il_hero_slidein .il_hero_inner .il_buttons {
  transition: var(--theme-transition);
}
@media (max-width: 797.5px) {
  .il_hero_slidein .il_hero_inner {
    margin-bottom: 500px;
  }
}
.il_hero_slidein .il_hero_inner .il_buttons {
  margin-top: 5rem;
}
.il_hero_slidein .intro_title {
  font-size: 12.2rem;
  line-height: 1;
}
.il_hero_slidein .il_hero_subtitle {
  font-size: 5rem;
  color: #fff;
}
@media (min-width: 797.6px) {
  .il_hero_slidein.full-screen {
    min-height: calc(100vh - 16rem);
  }
}
.il_hero_slidein.full-screen .hero_inner {
  justify-content: center;
}
.il_hero_slidein .trigger-wrap {
  position: relative;
}

.si-1 svg path {
  fill: #009688;
}

.si-2 svg path {
  fill: #05B0D6;
}

.si-3 svg path {
  fill: #FEC000;
}

.si-4 svg path {
  fill: #F21971;
}

.si-5 svg path {
  fill: #683AB7;
}

@media (max-width: 797.5px) {
  .si_container .il_slidein {
    padding-top: 4rem;
    padding-bottom: 23rem;
  }
}
@media (min-width: 1199.6px) and (max-width: 1360.5px) {
  .si_container .il_slidein {
    padding-top: 4rem;
    padding-bottom: 12rem;
  }
}
@media (min-width: 1360.6px) and (max-width: 1659.5px) {
  .si_container .il_slidein {
    padding-top: 5rem;
  }
}
.si_container .il_slidein:nth-child(2) .si_title svg path {
  fill: #009688;
}
.si_container .il_slidein:nth-child(3) .si_title svg path {
  fill: #05B0D6;
}
.si_container .il_slidein:nth-child(4) svg path {
  fill: #FEC000;
}
.si_container .il_slidein:nth-child(5) .si_title svg path {
  fill: #F21971;
}
.si_container .il_slidein:nth-child(6) .si_title svg path {
  fill: #683AB7;
}

.si_container {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 4;
}

.si_triggers {
  position: relative;
  z-index: 9;
}
.si_triggers > .container {
  display: flex;
  flex-wrap: wrap;
}
.si_triggers .il_block_bg {
  opacity: 0;
  transition: var(--theme-transition);
}
.si_triggers .container {
  display: flex;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media (min-width: 1199.6px) and (max-width: 1360.5px) {
  .si_triggers .container {
    padding-bottom: 2rem;
  }
}
.si_triggers .si_trigger {
  cursor: pointer;
  color: #fff;
  display: inline-flex;
  align-items: center;
  padding-right: 3rem;
  margin-right: 3rem;
  position: relative;
  transition: var(--theme-transition);
  position: relative;
  z-index: 2;
}
.si_triggers .si_trigger.si_open {
  pointer-events: none;
}
.si_triggers .si_trigger .si_ti {
  transform: rotate(-45deg);
  right: 0rem;
  transition: var(--theme-transition);
  position: absolute;
  bottom: 0;
}
.si_triggers .si_trigger.si_open .si_ti {
  bottom: -100px;
  transform: rotate(90deg);
  right: calc(50% + 2.5rem);
}
@media (min-width: 1199.6px) and (max-width: 1360.5px) {
  .si_triggers .si_trigger.si_open .si_ti {
    bottom: -54px;
  }
}
@media (min-width: 1360.6px) and (max-width: 1659.5px) {
  .si_triggers .si_trigger.si_open .si_ti {
    bottom: -71px;
  }
}
.si_triggers .close-trigger {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  cursor: pointer;
}

.il_slidein {
  position: relative;
  display: none;
  background: linear-gradient(to right, #03143d 0%, #062a76 100%);
  z-index: 2;
}
.il_slidein .il_block_bg {
  z-index: 1;
  width: 57%;
  margin-right: 0;
  margin-left: auto;
}
.il_slidein .il_block_bg img {
  width: auto;
  right: 0;
}
@media (max-width: 797.5px) {
  .il_slidein .il_block_bg img {
    width: 100%;
  }
}
.il_slidein .si_close {
  color: #fff;
  font-size: 3.5rem;
  cursor: pointer;
  position: absolute;
  top: 7.5rem;
}
@media (min-width: 1199.6px) and (max-width: 1360.5px) {
  .il_slidein .si_close {
    top: 2.5rem;
  }
}
@media (min-width: 1360.6px) and (max-width: 1659.5px) {
  .il_slidein .si_close {
    top: 3.5rem;
  }
}
.il_slidein .si_title {
  color: #fff;
  font-family: Kodchasan;
  font-size: 7.2rem;
  margin-bottom: 4.5rem;
}
@media (min-width: 797.6px) {
  .il_slidein .si_title {
    pointer-events: none;
  }
}
@media (min-width: 1199.6px) and (max-width: 1360.5px) {
  .il_slidein .si_title {
    margin-bottom: 3.5rem;
  }
}
.il_slidein .si_title svg {
  width: 7rem;
  height: 7rem;
  transform: rotate(-45deg);
  margin-bottom: 3rem;
}
.il_slidein .si_content {
  width: 50%;
  margin-top: 2.5rem;
  z-index: 2;
  position: relative;
  color: #fff;
}
.il_slidein .il_btn {
  color: var(--color-2);
}
.il_slidein .il_btn svg path {
  fill: var(--color-2);
}

@media (max-width: 797.5px) {
  .si_triggers {
    display: none;
  }
  .si_close {
    display: none;
  }
  .il_block.il_hero_slidein {
    display: flex;
    flex-direction: column;
  }
  .il_block.il_hero_slidein .il_hero_inner .il_buttons {
    display: none;
  }
  .il_block.il_hero_slidein .il_buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .il_block.il_hero_slidein .il_buttons .il_btn:first-child {
    margin-bottom: 15px;
  }
  .si_container {
    width: 90%;
    left: 5%;
    background-color: var(--color-1);
    border-radius: 35px;
    position: relative;
    background: linear-gradient(#062870 0%, #021031 100%);
    margin-top: -380px;
  }
  .si_container .si_container_inner {
    display: flex;
    flex-direction: column;
  }
  .si_container .il_block_bg {
    height: 80px;
    opacity: 0;
    transition: var(--theme-transition);
    margin-bottom: 0;
    margin-top: auto;
    width: 100%;
  }
}
@media (max-width: 797.5px) and (min-width: 479.6px) and (max-width: 797.5px) {
  .si_container .il_block_bg {
    height: 106px;
  }
}
@media (max-width: 797.5px) {
  .si_container .il_slidein {
    background: linear-gradient(to top, #062366 0%, #010d28 100%);
  }
  .si_container .il_slidein.si-1 {
    border-radius: 35px 35px 0 0;
    padding-top: 6rem !important;
  }
  .si_container .il_slidein.si-5, .si_container .il_slidein.si-5 img {
    border-radius: 0 0 35px 35px;
  }
}
@media (max-width: 797.5px) {
  .si_container .mobile_trigger {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    color: #fff;
    font-family: Kodchasan;
  }
  .si_container .mobile_trigger:first-of-type {
    padding-top: 50px;
  }
  .si_container .mobile_trigger:last-of-type {
    padding-bottom: 50px;
  }
  .si_container .mobile_trigger.si_open {
    display: none;
  }
  .si_container .mobile_trigger svg {
    transform: rotate(-45deg);
    margin-top: -5px;
    margin-bottom: 5px;
  }
  .si_container .mobile_trigger span {
    font-size: 20px;
  }
}
@media (max-width: 797.5px) {
  .si_container .si_content {
    width: 100%;
  }
  .si_container .si_content .si_title {
    font-size: 20px;
    text-transform: none;
  }
  .si_container .si_content .si_title svg {
    width: 16px;
    height: 16px;
    transform: rotate(90deg);
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
}
@media (max-width: 797.5px) {
  .si_open .il_block_bg {
    transition-delay: 0.4s;
    transition-property: opacity;
    opacity: 1;
  }
}
@media (min-width: 797.6px) {
  .mobile_trigger {
    display: none;
  }
}
.il_hero {
  background-size: cover;
  display: flex;
}
.il_hero .il_hero_inner {
  display: flex;
  flex-direction: column;
}
.il_hero .il_hero_inner div {
  max-width: 1080px;
  margin-bottom: 3rem;
  display: block;
  color: #fff;
}
.il_hero .intro_title {
  font-size: 12rem;
  line-height: 1;
  color: #fff;
}
.il_hero .il_hero_subtitle {
  font-size: 8rem;
  color: #fff;
}
.il_hero .il_btn {
  padding: 1rem 4rem;
  display: inline-flex;
  color: #fff;
  text-decoration: none;
  border-radius: 3rem 0 3rem 3rem;
  border: none;
}
.il_hero.full-screen {
  min-height: calc(100vh - 16.5rem);
  /* min-height: calc(100vh - 10.5rem); */
}
@media (max-width: 1199.5px) {
  .il_hero.full-screen {
    min-height: calc(100vh - 13rem);
  }
}
.il_hero.full-screen .hero_inner {
  justify-content: center;
}

.il_inner_hero-1 {
  min-height: 40rem;
  position: relative;
  display: flex;
}
.il_inner_hero-1 .il_inner_hero_bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.il_inner_hero-1 .il_inner_hero_bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.il_inner_hero-1 .il_inner_hero_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 5rem 0;
}
.il_inner_hero-1 .il_inner_hero_inner .il_inner_hero_title {
  color: #fff;
  font-size: var(--title-size-1);
}
.il_inner_hero-1 .il_inner_hero_inner .il_inner_hero_text {
  color: #fff;
}

.il_inner_hero-2 {
  min-height: 40rem;
  position: relative;
  display: flex;
  overflow: hidden;
}
.il_inner_hero-2 .il_inner_hero_bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  pointer-events: none;
  text-align: right;
  width: 60%;
  margin-right: 0;
  margin-left: auto;
}
@media (min-width: 797.6px) {
  .il_inner_hero-2 .il_inner_hero_bg::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: "";
    background: linear-gradient(to right, #fff 5%, rgba(255, 255, 255, 0.5) 15%, transparent 30%);
  }
}
.il_inner_hero-2 .il_inner_hero_bg img {
  height: 100%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 797.5px) {
  .il_inner_hero-2 .il_inner_hero_bg {
    display: none;
  }
}
.il_inner_hero-2 .il_inner_hero_bg_svg {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
}
@media (max-width: 797.5px) {
  .il_inner_hero-2 .il_inner_hero_bg_svg {
    height: 130%;
    top: -31%;
    left: -9%;
  }
}
.il_inner_hero-2 .il_inner_hero_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.il_inner_hero-2 .il_inner_hero_title {
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}
.il_inner_hero-2 .il_inner_hero_text {
  color: #fff;
  font-weight: 500;
}
.il_inner_hero-2 .il_inner_hero_inner_top {
  position: relative;
  z-index: 2;
}
.il_inner_hero-2 .il_inner_hero_inner_top svg {
  z-index: 1;
}
.il_inner_hero-2 .il_inner_hero_inner_top .container {
  padding: 8rem 0 27rem 0;
  z-index: 2;
  position: relative;
}
@media (max-width: 797.5px) {
  .il_inner_hero-2 .il_inner_hero_inner_top .il_block_bg .mob_bg {
    height: 43%;
    bottom: 0;
    -o-object-position: top;
       object-position: top;
  }
}
.il_inner_hero-2 .il_inner_hero_inner_bottom {
  position: relative;
  z-index: 2;
  padding-top: 1rem;
  padding-bottom: var(--b-space-1);
}
@media (max-width: 797.5px) {
  .il_inner_hero-2 .il_inner_hero_inner_bottom {
    padding-top: var(--b-space-2);
    background: white;
  }
}
@media (min-width: 797.6px) {
  .il_inner_hero-2 .il_inner_hero_inner_bottom .il_inner_hero_inner_bottom_content {
    width: 50%;
  }
}

.il_lb_carousel_block {
  position: relative;
}

.lb_cb_nav_wrap .il_lb_triggers {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 479.5px) {
  .lb_cb_nav_wrap .il_lb_triggers {
    flex-direction: column;
  }
}
.lb_cb_nav_wrap .il_lb_triggers a {
  font-size: 26px;
  color: #fff;
  text-transform: uppercase;
  font-family: Anton;
  text-decoration: none;
  display: flex;
}
@media (min-width: 797.6px) {
  .lb_cb_nav_wrap .il_lb_triggers a {
    width: 30%;
  }
  .lb_cb_nav_wrap .il_lb_triggers a:not(:nth-child(3n+3)) {
    margin-right: 5%;
  }
  .lb_cb_nav_wrap .il_lb_triggers a:not(:last-child):not(:nth-last-child(2)):not(:nth-last-child(3)) {
    margin-bottom: 5.5rem;
  }
}
@media (min-width: 479.6px) and (max-width: 797.5px) {
  .lb_cb_nav_wrap .il_lb_triggers a {
    width: 48%;
  }
  .lb_cb_nav_wrap .il_lb_triggers a:nth-child(odd) {
    margin-right: 4%;
  }
  .lb_cb_nav_wrap .il_lb_triggers a:not(:last-child):not(:nth-last-child(2)) {
    margin-bottom: 4rem;
  }
}
@media (max-width: 797.5px) {
  .lb_cb_nav_wrap .il_lb_triggers a {
    font-size: 20px;
  }
  .lb_cb_nav_wrap .il_lb_triggers a svg {
    height: 20px;
  }
}
@media (max-width: 479.5px) {
  .lb_cb_nav_wrap .il_lb_triggers a:not(:last-child) {
    margin-bottom: 4rem;
  }
}
.lb_cb_nav_wrap .il_lb_triggers a svg {
  margin-right: 1.5rem;
  transition: var(--theme-transition);
  line-height: 1.2;
}
.lb_cb_nav_wrap .il_lb_triggers a svg path {
  transition: var(--theme-transition);
}
.lb_cb_nav_wrap .il_lb_triggers a:hover svg {
  transform: rotate(45deg);
}
.lb_cb_nav_wrap .il_lb_triggers a:hover svg path {
  fill: var(--color-2);
}

.il_lb_carousel_wrap {
  position: absolute;
  width: 100%;
  z-index: 99;
  top: 0;
  opacity: 0;
  pointer-events: none;
  transition: var(--theme-transition);
}
.il_lb_carousel_wrap .carousel-main {
  top: 0;
  position: fixed;
  width: 100%;
}
.il_lb_carousel_wrap .carousel-main .flickity-viewport {
  height: 100vh !important;
}
.il_lb_carousel_wrap.is-open {
  opacity: 1;
  pointer-events: all;
}
.il_lb_carousel_wrap .flickity-button, .il_lb_carousel_wrap .close {
  border-radius: 0;
  opacity: 1;
  transition: var(--theme-transition);
  background-color: var(--color-1);
  left: auto;
  top: 9.5rem;
  background-repeat: no-repeat;
  background-position: center;
  width: 4rem;
  height: 4rem;
  transform: translateY(0);
  background-size: 50%;
}
@media (max-width: 797.5px) {
  .il_lb_carousel_wrap .flickity-button, .il_lb_carousel_wrap .close {
    top: 6rem;
  }
}
.il_lb_carousel_wrap .flickity-button[disabled], .il_lb_carousel_wrap .close[disabled] {
  opacity: 0.4;
}
.il_lb_carousel_wrap .flickity-button svg, .il_lb_carousel_wrap .close svg {
  display: none;
}
.il_lb_carousel_wrap .flickity-button:hover, .il_lb_carousel_wrap .close:hover {
  opacity: 0.8;
}
.il_lb_carousel_wrap .close {
  position: fixed;
  right: 15%;
  cursor: pointer;
  z-index: 9;
  background-image: url("https://taryag.ilogic-dev.net/wp-content/themes/taryag/assets/icons/x.svg");
}
@media (max-width: 1360.5px) {
  .il_lb_carousel_wrap .close {
    right: 20rem;
  }
}
.il_lb_carousel_wrap .flickity-button.previous {
  right: 12.5%;
  background-image: url("https://taryag.ilogic-dev.net/wp-content/themes/taryag/assets/icons/left-arrow.svg");
}
@media (max-width: 1360.5px) {
  .il_lb_carousel_wrap .flickity-button.previous {
    right: 15rem;
  }
}
.il_lb_carousel_wrap .flickity-button.next {
  right: 10%;
  background-image: url("https://taryag.ilogic-dev.net/wp-content/themes/taryag/assets/icons/right-arrow.svg");
}
@media (max-width: 1360.5px) {
  .il_lb_carousel_wrap .flickity-button.next {
    right: 10rem;
  }
}

.il_lb_carousel .il_lb_carousel_inner {
  width: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.67);
}
@media (max-width: 797.5px) {
  .il_lb_carousel .il_lb_carousel_inner {
    min-height: 100%;
    flex-direction: column-reverse;
  }
}
@media (min-width: 797.6px) {
  .il_lb_carousel .il_lb_carousel_inner {
    min-height: 100%;
  }
  .il_lb_carousel .il_lb_carousel_inner .il_lb_left {
    width: 50%;
  }
}
@media (max-width: 797.5px) {
  .il_lb_carousel .il_lb_carousel_inner .il_lb_left {
    flex: 1;
  }
}
.il_lb_carousel .il_lb_carousel_inner .il_lb_right {
  max-height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #fff;
}
.il_lb_carousel .il_lb_carousel_inner .il_lb_right::-webkit-scrollbar {
  width: 0;
  height: 0;
}
@media (min-width: 797.6px) {
  .il_lb_carousel .il_lb_carousel_inner .il_lb_right {
    width: 50%;
  }
}
@media (min-width: 797.6px) {
  .il_lb_carousel .il_lb_carousel_inner .il_lb_right {
    padding: 20rem var(--b-space-1);
  }
}
@media (max-width: 797.5px) {
  .il_lb_carousel .il_lb_carousel_inner .il_lb_right {
    padding: 15rem 10rem 10rem;
    width: 100%;
    flex: 0 1 auto;
  }
}
.il_lb_carousel .il_lb_carousel_inner .il_lb_right .tg_text {
  color: var(--color-1);
}
.il_lb_carousel .il_lb_carousel_inner .il_lb_right .tg_text h3 {
  font-family: "Montserrat";
  font-weight: 600;
  text-transform: none;
  font-size: 3rem;
  margin: 5rem 0 3rem 0;
}
@media (max-width: 1199.5px) {
  .il_lb_carousel .il_lb_carousel_inner .il_lb_right .tg_text h3 {
    font-size: 18px;
  }
}
.il_lb_carousel .il_lb_carousel_inner .il_lb_right a.il_btn {
  color: var(--color-3);
}
.il_lb_carousel .il_lb_carousel_inner .il_lb_right a.il_btn svg path {
  fill: var(--color-3);
}

.il_section.style-1 {
  padding: 10rem 0;
}
.il_section.style-1 .il_section_title {
  font-size: 6rem;
  font-weight: 500;
  color: var(--color-1);
  margin-bottom: 2rem;
}
.il_section.style-1 .il_section_text {
  color: var(--color-text);
  margin-bottom: 3rem;
}
.il_section.style-1 .il_btn {
  padding: 1rem 2rem;
  display: inline-flex;
  color: #fff;
  text-decoration: none;
  border-radius: 3rem;
  border: none;
}

.il_section.style-2 {
  padding: 10rem 0;
  background-color: var(--color-1);
}
.il_section.style-2 .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5rem 0;
}
.il_section.style-2 .il_section_title {
  font-size: 7.3rem;
  font-weight: 500;
  color: var(--color-3);
  margin-bottom: 2rem;
}
.il_section.style-2 .il_section_text {
  color: #fff;
  margin-bottom: 3rem;
}
.il_section.style-2 .il_btn {
  padding: 10px 40px;
  display: inline-flex;
  color: #fff;
  text-decoration: none;
  border-radius: 3rem 0 3rem 3rem;
  border: none;
}

.il_section_inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.il_section_inner > div {
  flex: 48% 0 0;
}
@media (max-width: 1199.5px) {
  .il_section_inner.stack-tablet-reverse > div {
    flex-basis: 100%;
  }
  .il_section_inner.stack-tablet-reverse .left {
    order: 2;
  }
  .il_section_inner.stack-tablet-reverse .right {
    order: 1;
  }
}
@media (max-width: 797.5px) {
  .il_section_inner.stack-mobile-reverse > div {
    flex-basis: 100%;
  }
  .il_section_inner.stack-mobile-reverse .left {
    order: 2;
  }
  .il_section_inner.stack-mobile-reverse .right {
    order: 1;
  }
}
.il_section_inner.ib-right .left {
  order: 2;
}
.il_section_inner.ib-right .right {
  order: 1;
}
@media (max-width: 1199.5px) {
  .il_section_inner.ib-right.stack-tablet-reverse > div {
    flex-basis: 100%;
  }
  .il_section_inner.ib-right.stack-tablet-reverse .left {
    order: 1;
  }
  .il_section_inner.ib-right.stack-tablet-reverse .right {
    order: 2;
  }
}
@media (max-width: 797.5px) {
  .il_section_inner.ib-right.stack-mobile-reverse > div {
    flex-basis: 100%;
  }
  .il_section_inner.ib-right.stack-mobile-reverse .left {
    order: 1;
  }
  .il_section_inner.ib-right.stack-mobile-reverse .right {
    order: 2;
  }
}
@media (max-width: 797.5px) {
  .il_section_inner.stack-mobile > div {
    flex-basis: 100%;
  }
}
@media (max-width: 1199.5px) {
  .il_section_inner.stack-tablet > div {
    flex-basis: 100%;
  }
}

.il_tabs .il_tabs_nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.il_tabs .il_tabs_nav li {
  display: inline-block;
  background: var(--color-1);
  color: #fefefe;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #34495E;
  margin-right: 5px;
}
.il_tabs .il_tabs_nav li a {
  display: block;
  padding: 10px 15px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
.il_tabs .il_tabs_nav li.active {
  background: #FFF;
  color: #000;
}
.il_tabs .il_tabs_nav li.active a {
  color: inherit;
}
.il_tabs .il_tab {
  transition: var(--theme-transition);
}
.il_tabs .il_tabs_content {
  border: 1px solid var(--color-1);
  padding: 2rem;
  background: #FFF;
  margin-top: -1px;
  overflow: hidden;
}
.il_tabs .il_tabs_content .il_tab:not(:first-child) {
  display: none;
}
@media (max-width: 479.5px) {
  .il_tabs.stack_tabs ul {
    flex-direction: column;
  }
  .il_tabs.stack_tabs ul li {
    width: 100%;
  }
  .il_tabs.stack_tabs ul li.active {
    order: 1;
  }
}

.il_team_row {
  display: grid;
  margin: auto;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 1199.5px) {
  .il_team_row {
    width: 90%;
  }
}
@media (min-width: 797.6px) {
  .il_team_row {
    grid-template-columns: repeat(4, calc(25% - 22.5px));
    grid-template-rows: repeat(2, auto);
  }
}
@media (min-width: 479.6px) and (max-width: 797.5px) {
  .il_team_row {
    grid-template-columns: repeat(2, calc(50% - 15px));
    grid-template-rows: repeat(3, auto);
  }
}
.il_team_row .il_team_member {
  margin-bottom: 6rem;
}
@media (min-width: 797.6px) {
  .il_team_row .il_team_member .il_member_1 {
    grid-column: 1/2;
  }
  .il_team_row .il_team_member .il_member_2 {
    grid-column: 2/3;
  }
  .il_team_row .il_team_member .il_member_1 {
    grid-column: 3/4;
  }
  .il_team_row .il_team_member .il_member_4 {
    grid-column: 4/5;
  }
}
@media (min-width: 479.6px) and (max-width: 797.5px) {
  .il_team_row .il_team_member .il_member_1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .il_team_row .il_team_member .il_member_2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .il_team_row .il_team_member .il_member_3 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .il_team_row .il_team_member .il_member_4 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
@media (max-width: 479.5px) {
  .il_team_row .il_team_member {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}
.il_team_row .il_team_member .member_name {
  color: var(--color-1);
  display: flex;
  font-size: 2.6rem;
  margin-bottom: 1.5rem;
  align-items: flex-start;
}
.il_team_row .il_team_member .member_name svg {
  margin-top: 0.5rem;
  height: 2.6rem;
  margin-right: 1.5rem;
  transition: var(--theme-transition);
}
@media (max-width: 479.5px) {
  .il_team_row .il_team_member .member_name svg {
    margin-top: 0.9rem;
  }
}
.il_team_row .il_team_member .member_name svg path {
  transition: var(--theme-transition);
}
@media (max-width: 797.5px) {
  .il_team_row .il_team_member .member_name {
    font-size: 20px;
  }
  .il_team_row .il_team_member .member_name svg {
    height: 20px;
  }
}
.il_team_row .il_team_member .member_position {
  color: var(--color-1);
  font-size: 2rem;
}
@media (max-width: 797.5px) {
  .il_team_row .il_team_member .member_position {
    font-size: 16px;
  }
}
.il_team_row .il_team_member:hover {
  cursor: pointer;
}
.il_team_row .il_team_member:hover .member_name {
  text-decoration: underline;
}
.il_team_row .il_team_member:hover svg {
  transform: rotate(45deg);
}
.il_team_row .il_team_member:hover svg path {
  fill: var(--color-2);
}
.il_team_row .member_text {
  position: relative;
  display: none;
  transition: var(--theme-transiton);
  background-color: var(--color-1);
  color: #fff;
  padding: var(--b-space-2);
}
.il_team_row .member_text .close {
  position: relative;
  cursor: pointer;
}
@media (min-width: 1199.6px) {
  .il_team_row .member_text .close {
    top: -5rem;
  }
}
@media (max-width: 1199.5px) {
  .il_team_row .member_text .close {
    top: -4rem;
  }
}
@media (min-width: 797.6px) {
  .il_team_row .member_text {
    grid-row: 2/3;
    grid-column: 1/5;
  }
}
@media (min-width: 479.6px) and (max-width: 797.5px) {
  .il_team_row .member_text {
    grid-row: 2/3;
    grid-column: 1/3;
  }
  .il_team_row .member_text.member_text_3, .il_team_row .member_text.member_text_4 {
    grid-row: 4/5;
  }
}
@media (min-width: 479.6px) {
  .il_team_row:not(:last-child) .member_text {
    margin-bottom: 6rem;
  }
}

@media (min-width: 797.6px) and (max-width: 1199.5px) {
  .il_timeline .il_timeline_inner {
    overflow-x: auto;
    overflow-y: hidden;
  }
}
.il_timeline .il_timeline_inner .il_tl_item {
  display: flex;
}
.il_timeline .il_timeline_inner .il_tl_item .il_tl_content .il_tl_body * {
  font-size: 18px;
  font-weight: 700;
}
@media (min-width: 1659.5px) {
  .il_timeline .il_timeline_inner .il_tl_item .il_tl_content .il_tl_body * {
    font-size: 16px;
  }
}
.il_timeline .il_timeline_inner .il_tl_item .il_tl_arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 797.6px) {
  .il_timeline .il_timeline_inner .il_tl_dot_mobile {
    display: none;
  }
  .il_timeline .il_timeline_inner .il_tl_dot {
    margin-top: 0.25rem;
  }
}
@media (max-width: 797.5px) {
  .il_timeline .il_timeline_inner .il_tl_dot {
    display: none;
  }
  .il_timeline .il_timeline_inner .il_tl_dot_mobile {
    position: relative;
    left: 2.6rem;
    top: 30px;
  }
}
@media (min-width: 797.6px) {
  .il_timeline.layout-1 .il_timeline_inner .il_tl_item:not(:last-of-type) .il_tl_content {
    width: 185%;
  }
  .il_timeline.layout-1 .il_timeline_inner .il_tl_item:last-of-type .il_tl_content {
    width: 110%;
  }
  .il_timeline.layout-1 .il_timeline_inner .il_tl_item:nth-child(odd) .il_tl_content::before {
    content: "";
    position: relative;
    height: 39px;
    width: 2px;
    border-left: 2px dashed var(--color-1);
    margin-bottom: 2rem;
    margin-top: 1rem;
    opacity: 0.22;
  }
  .il_timeline.layout-1 .il_timeline_inner .il_tl_item:nth-child(even) .il_tl_content {
    order: 1;
    justify-content: flex-end;
  }
  .il_timeline.layout-1 .il_timeline_inner .il_tl_item:nth-child(even) .il_tl_content::after {
    content: "";
    position: relative;
    height: 39px;
    width: 2px;
    border-left: 2px dashed var(--color-1);
    margin-top: 2rem;
    margin-bottom: 1rem;
    opacity: 0.22;
  }
  .il_timeline.layout-1 .il_timeline_inner .il_tl_item:nth-child(even) .il_tl_arrow {
    order: 2;
  }
  .il_timeline.layout-1 .il_timeline_inner .il_tl_item:nth-child(even) .il_tl_empty {
    order: 3;
  }
}
.il_timeline.layout-2 .il_tl_empty {
  display: none;
}
@media (min-width: 797.6px) {
  .il_timeline.layout-2 .il_tl_item .il_tl_content::before {
    content: "";
    position: relative;
    height: 39px;
    width: 2px;
    border-left: 2px dashed var(--color-1);
    margin-bottom: 2rem;
    margin-top: 1rem;
    opacity: 0.22;
  }
}
.il_timeline.style-1 {
  background-color: #fff;
}
.il_timeline.style-1 .intro_title {
  color: var(--color-1);
}
.il_timeline.style-1 .il_timeline_inner .il_tl_content .il_tl_body * {
  color: var(--color-1);
}
.il_timeline.style-2 {
  background-color: var(--color-1);
}
.il_timeline.style-2 .il_timeline_inner .il_tl_content .il_tl_body * {
  color: #fff;
}
.il_timeline.style-2 .il_timeline_inner .il_tl_item .il_tl_arrow::after {
  border-color: #fff !important;
  opacity: 0.57 !important;
}
.il_timeline.style-2 .il_timeline_inner .il_tl_item .il_tl_content::before, .il_timeline.style-2 .il_timeline_inner .il_tl_item .il_tl_content::after {
  border-color: #fff !important;
  opacity: 0.57 !important;
}
@media (min-width: 797.6px) {
  .il_timeline .il_timeline_inner {
    display: flex;
    padding-left: 25px;
    padding-top: 6.5rem;
  }
  .il_timeline .il_timeline_inner .il_tl_item {
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
  }
  .il_timeline .il_timeline_inner .il_tl_item .il_tl_arrow {
    height: 50px;
    background: linear-gradient(to bottom, transparent 0, transparent 51%, #66a5ad 51%, #66a5ad 55%, transparent 55%, transparent 100%);
  }
  .il_timeline .il_timeline_inner .il_tl_item .il_tl_arrow svg {
    margin-left: -25px;
  }
  .il_timeline .il_timeline_inner .il_tl_item .il_tl_empty {
    height: 40%;
    height: 160px;
  }
  .il_timeline .il_timeline_inner > div {
    flex-shrink: 0;
  }
  .il_timeline .il_timeline_inner .il_tl_content {
    height: 160px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-right: 25px;
  }
}
@media (max-width: 797.5px) {
  .il_timeline.style-2 .il_timeline_inner::before {
    background-color: #fff;
    opacity: 1;
  }
  .il_timeline .il_timeline_inner {
    position: relative;
  }
  .il_timeline .il_timeline_inner:before {
    content: "";
    width: 2px;
    height: 100%;
    position: absolute;
    background-color: #041B4F;
    opacity: 0.28;
    left: 3.4rem;
    top: 20px;
  }
  .il_timeline .il_timeline_inner .il_tl_item {
    padding-bottom: 35px;
    align-items: flex-start;
  }
  .il_timeline .il_timeline_inner .il_tl_item .il_tl_arrow {
    display: flex;
    align-items: center;
    margin-top: -15px;
    margin-right: 20px;
  }
  .il_timeline .il_timeline_inner .il_tl_item .il_tl_arrow svg {
    transform: rotate(90deg);
    width: 7.2rem;
  }
  .il_timeline .il_timeline_inner .il_tl_item .il_tl_arrow::after {
    content: "";
    position: relative;
    height: 2px;
    width: 55px;
    border-bottom: 2px dashed var(--color-1);
    margin-top: 0.5rem;
    margin-left: -10px;
    opacity: 0.22;
    z-index: -1;
  }
}

html {
  font-size: 10px;
}
@media (min-width: 1360.6px) and (max-width: 1659.5px) {
  html {
    font-size: 8px;
  }
}
@media (min-width: 1199.6px) and (max-width: 1360.5px) {
  html {
    font-size: 7px;
  }
}
@media (min-width: 797.6px) and (max-width: 1199.5px) {
  html {
    font-size: 6px;
  }
}
@media (min-width: 479.6px) and (max-width: 797.5px) {
  html {
    font-size: 6px;
  }
}
@media (max-width: 479.5px) {
  html {
    font-size: 5px;
  }
}
html :where(.wp-block) {
  max-width: 90%;
}
html h1,
html h2,
html h3,
html h4,
html h5,
html h6 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  line-height: var(--title-line-height);
}

main {
  max-width: 2560px;
  margin-left: auto;
  margin-right: auto;
}

.site-main h1, .site-main h2, .site-main h3, .site-main h4, .site-main h5, .site-main h6, .interface-interface-skeleton__content h1, .interface-interface-skeleton__content h2, .interface-interface-skeleton__content h3, .interface-interface-skeleton__content h4, .interface-interface-skeleton__content h5, .interface-interface-skeleton__content h6 {
  font-family: "Font Primary";
}
.site-main div, .site-main p, .site-main a, .interface-interface-skeleton__content div, .interface-interface-skeleton__content p, .interface-interface-skeleton__content a {
  font-family: "Font Secondary";
}
.site-main p, .site-main li, .interface-interface-skeleton__content p, .interface-interface-skeleton__content li {
  margin-top: 0;
  font-size: var(--body-size);
}
.site-main p, .site-main a, .interface-interface-skeleton__content p, .interface-interface-skeleton__content a {
  font-size: 2rem;
}
@media (max-width: 1199.5px) {
  .site-main p, .site-main a, .interface-interface-skeleton__content p, .interface-interface-skeleton__content a {
    font-size: 16px;
  }
}
@media (max-width: 479.5px) {
  .site-main p, .site-main a, .interface-interface-skeleton__content p, .interface-interface-skeleton__content a {
    font-size: 15px;
  }
}
.site-main h2, .interface-interface-skeleton__content h2 {
  font-size: var(--title-size-2);
}
.site-main h3, .interface-interface-skeleton__content h3 {
  font-size: var(--title-size-3);
}
.site-main h4, .interface-interface-skeleton__content h4 {
  font-size: var(--title-size-4);
}
.site-main h5, .interface-interface-skeleton__content h5 {
  font-size: var(--title-size-5);
}
.site-main h6, .interface-interface-skeleton__content h6 {
  font-size: var(--title-size-6);
}

.container {
  width: var(--site-width);
  max-width: var(--site-max-width);
  margin: auto;
}

.toplevel_page_theme-general-settings .wp-menu-image {
  background-size: 18px !important;
}

.wp-admin input[type=checkbox], .wp-admin input[type=radio] {
  height: 1.6rem;
  width: 1.6rem;
  min-width: 1.6rem;
}
.wp-admin input[type=checkbox]:before {
  height: 2.1rem;
  width: 2.1rem;
  margin-left: -0.4rem;
  margin-top: -0.3rem;
}
.wp-admin input[type=radio]:before {
  width: 0.8rem;
  height: 0.8rem;
  margin: 0.3rem;
  line-height: 1.6rem;
}

#facts {
  float: right;
  padding: 5px 10px;
  margin: 0;
  font-size: 12px;
  line-height: 1.6666;
}

.rtl #facts {
  float: left;
}

.block-editor-page #facts {
  display: none;
}

@media screen and (max-width: 782px) {
  #facts,
  .rtl #facts {
    float: none;
    padding-left: 0;
    padding-right: 0;
  }
}
