.il_columns {
  .il_columns_inner {
    display: flex;
    flex-wrap: wrap;
  }
  &.speakers-style{
    background: url( ../../../assets/icons/speakers-back.png);
    background-repeat: no-repeat;
    background-position: top right;

    .il_block_intro{

      .intro_title{
        text-transform: uppercase;
        margin-bottom: 2rem;
        font-weight: 600;
      }

      .intro_text{
        p{
          max-width: 909px;
          margin: 0 auto;
          font-size: 1.8rem;
          line-height: 2.6rem;
          color: #57585D;
        }
      }

    }
    
    .il_columns_inner{
      padding-top: 8rem;

      .column{
        text-align: center;
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        img{
          border-radius: 50%;
          max-width: 230px;
          width: 100%;
        }

        .intro_title {
          font-size: 2.8rem;
          line-height: 1.3;
          color: var(--color-2);
          margin-bottom: 1.2rem;
        }

        .il_col_text{

          p{
            color: #57585D;
          }

        }

      }

    }

  }

  &.attend-style {
    padding-top: 10rem;
    padding-bottom: 12rem;
    background: radial-gradient(97.14% 83.45% at 51.68% 52.34%, #144A9D 0%, #132051 100%);
    .intro_title {
      @include desk-min {
        font-size: 4.4rem;
      }
      font-weight: 600;
    }
    @include limbo-max {
      padding-top: 11rem;
      padding-bottom: 11rem;
    }
    @include tab-max {
      padding-bottom: 14rem;
    }
    .il_block_bg {
      img {
        width: 72.5rem;
        height: auto;
        bottom: 0;
        @include limbo-max {
          width: 41.5rem;
        }
      }
    }

    .il_columns_inner{
      padding-top: 6.5rem;
      
      .column {
        text-align: center;
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        @include tab-max {
          margin-bottom: 8rem;
        }

        @include limbo-max {
          img {
            margin-bottom: 1rem;
          }
        }

        .intro_title {
          font-size: 4.4rem;
          line-height: 1.2;
          margin-bottom: 6px;
          font-weight: 600;
        }

        .il_col_text {

          p {
            font-family: 'Font Primary';
            color: #fff;
            font-weight: 700;
            font-size: 2rem;
            line-height: 1.4;
            max-width: 320px;
            margin: 0 auto;
            @include limbo-max {
              font-size: 16px;
            }
            @include mob-only {
              font-size: 15px;
            }
          }

        }

      }

    }

  }

  &.attend-rc {
    @include desk-min {
      padding-top: 16.5rem;
      padding-bottom: 11rem;
      z-index: 1;
    }
  }

}