.il_hero {
  background-size: cover;
  display: flex;
  .il_hero_inner {
    display: flex;
    flex-direction: column;
    text-align: center;
    div {
      display: block;
      color: #fff;
      p {
        font-family: 'Font Primary';
        font-size: 2.8rem;
        font-weight: 600;
        @include limbo-max {
          font-size: 3.5rem;
        }
      }
      &.buttons {
        margin-bottom: 0;
        .il_btn{
          padding: 15px 4rem;
        }
      }
    }
  }
  .intro_title {
    font-size: 9rem;
    line-height: 1;
    color: var(--color-2);
    font-weight: 400;
    margin-bottom: 0;
    @include limbo-max {
      font-size: 8rem;
      margin-bottom: 10px;
    }
    @include mob-only{
      font-size: 32px;
      line-height: 38px;
    }
  }
  .intro_subtitle {
    font-size: 9rem;
    margin-bottom: 10px;
    font-weight: 600;
    margin-bottom: 10px;
    @include limbo-max {
      font-size: 6rem;
    }
  }
  @include mob-only {
    .buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding-top: 95px;
      .il_btn{
        min-width: 260px;
        text-align: center;
        display: inline-block;
      }
    }
  }
  .il_btn {
    padding: 11px 4rem;
    display: inline-flex;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    &:first-child {
      margin-right: 3rem;
    }
    &:last-child {
      margin-right: 0;
    }
    @include mob-only {
      &:first-child {
        margin: 4rem 0;
      }
    }
  }
  &.full-screen {
    min-height: calc(100vh - 16.5rem); // With top bar
    /* min-height: calc(100vh - 10.5rem); */ // Without top bar
    @include limbo-max {
      min-height: calc(100vh - 13rem);
    }
    .hero_inner {
      justify-content: center;
    }
  }
  &.fit-content {
    padding-top: 28rem;
    padding-bottom: 25rem;
    .il_block_bg img {
      object-position: top;
      @include limbo-max {
        object-position: bottom;
      }
      @include tab-only{
        object-position: center;
      }
      @include mob-only{
        object-position: bottom;
      }
    }

    &.upcoming-event {
      padding-top: 23rem;
      padding-bottom: 12rem;
      position: relative;
      @include desk-min{
        min-height: 874px;
      }
      @include limbo-only {
        min-height: 950px;
      }

      @include limbo-max {
        padding-bottom: 17rem;
      }

      @include mob-only{
        padding-top: 230px;
      }
      .intro_title {
        font-size: 7rem;
        font-weight: 600;
        line-height: 8.4rem;
        max-width: 97rem;
        margin: 0 auto;
        @include mob-only{
          font-size: 32px;
          line-height: 120%;
          max-width: 340px;
          margin:0 auto;
        }
      }
      .intro_subtitle {
        font-size: 3.6rem;
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 4rem;
        @include limbo-max {
          font-size: 6rem;
        }
        @include mob-only{
          font-size: 30px;
          line-height: 1.2;
        }
      }
      .upcoming-event-badge{
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        padding: 22px 20px;
        min-width: 260px;
        position: absolute;
        // bottom:0;
        // right: 8%;
        top:190px;
        right: 50%;
        transform: translateX(50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include limbo-only {
          top:170px;
        }

        @include tab-max{
          min-width: 146px;
          top:60px;
          padding: 11px;
        }

        @include mob-only{
          bottom:auto;
          top: 120px;
        }

        span{
          font-size: 26px;
          line-height: 1.5;
          color:#fff;
          text-transform: uppercase;
          font-weight: 800;

          @include tab-max{
            font-size: 14px;
          }
        }
        svg{
          margin-left: 1.6rem;
        }
      }
      .buttons{
        @include mob-only{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
}
