.il_info_block{
    background: url( ../../../assets/icons/info-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: var(--b-space-2);
    padding-bottom: var(--b-space-2);

    .il_block_images{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 6rem;

        img{

            &:first-of-type{
                margin-right: 5rem;
            }

        }
    }

    .il_block_intro{

        .intro_subtitle {
            margin-bottom: 3rem;
            font-size: 3.6rem;
            font-weight: 600;
        }

        .intro_text{
            max-width: 1000px;
            margin: 0 auto;
        }

    }

}