.il_mi_section.style-1 {
  margin-top: -6rem;
  z-index: 1;
  padding-top: 18rem;
  padding-bottom: 6rem;
  background: radial-gradient(44.49% 38.22% at 51.02% 42.43%, #144A9D 0%, #132051 100%);
  overflow: hidden;
  .il_block_bg {
    width: var(--site-width);
    max-width: var(--site-max-width);
    margin: auto;
    mix-blend-mode: luminosity;
    @include limbo-max {
      display: none;
    }
    img {
      width: auto;
      left: -5rem;
    }
  }
  .il_section_before_title {
    font-family: 'Font Secondary';
    color: #9F9FA2;
    font-size: 16px;
    letter-spacing: 0.2em;
    margin-bottom: 2rem;
  }
  .il_section_title {
    font-size: var(--title-size-3);
    font-weight: 500;
    color: var(--color-1);
    margin-bottom: 2.5rem;
  }
  .il_section_text {
    color: #fff;
    margin-bottom: 3rem;
    @include limbo-max {
      margin-top: 5rem;
      margin-bottom: 5rem;
    }
  }
  .il_btn {
    padding: 1.4rem 2.5rem;
    display: inline-flex;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    border: none;
    &:nth-child(1) {
      background: var(--color-2);
      border: 1px solid var(--color-2);
      @include mob-only {
        margin-bottom: 3rem;
      }
    }
    &:nth-child(2) {
      border: 1px solid #fff;
      &:after {
        content: url( ../../../assets/icons/btn-right-arrow.svg);
        width: 24px;
        height: 24px;
        margin-left: 1.5rem;
      }
    }
  }
  @include limbo-max {
    .left {
      margin-bottom: 9rem;
    }
  }
  .right {
    display: flex;
    flex-wrap: wrap;
    .column:nth-child(1) {
      display: flex;
      width: 56%;
      margin-right: 4%;
      .il_mi_gallery-item {
        margin: auto 0 0 0;
      }
    }
    .column:nth-child(2) {
      display: flex;
      width: 40%;
      .il_mi_gallery-item {
        margin: 0 0 auto 0;
        padding-bottom: 8%;
      }
    }
    .column:nth-child(3) {
      display: flex;
      width: 40%;
      .il_mi_gallery-item {
        margin: 2.2em 0 1em 0;
      }
    }
    .column:nth-child(4) {
      display: flex;
      width: 56%;
      margin-left: 4%;
      .il_mi_gallery-item {
        margin: 1.2em 0 auto 0;
      }
    }
  }
}

.il_mi_section.style-2 {
  padding: 10rem 0;
  background-color: var(--color-1);
  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5rem 0
  }
  .il_section_title {
    font-size: 7.3rem;
    font-weight: 500;
    color: var(--color-3);
    margin-bottom: 2rem;
  }
  .il_section_text {
    color: #fff;
    margin-bottom: 3rem;
  }
  .il_btn {
    padding: 10px 40px;
    display: inline-flex;
    color: #fff;
    text-decoration: none;
    border-radius: 3rem 0 3rem 3rem;
    border: none;
  }
}


.il_mi_section_inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  > div {
    flex: 47% 0 0;
  }
  @include limbo-max {
    &.stack-tablet-reverse {
      > div {
        flex-basis: 100%;
      }
      .left {
        order: 2;
      }
      .right {
        order: 1;
      }
    }
  }
  @include tab-max {
    &.stack-mobile-reverse {
      > div {
        flex-basis: 100%;
      }
      .left {
        order: 2;
      }
      .right {
        order: 1;
      }
    }
  }
  &.ib-right {
    .left {
      order: 2;
    }
    .right {
      order: 1;
    }
   @include limbo-max {
      &.stack-tablet-reverse {
        > div {
          flex-basis: 100%;
        }
        .left {
          order: 1;
        }
        .right {
          order: 2;
        }
      }
    }
    @include tab-max {
      &.stack-mobile-reverse {
        > div {
          flex-basis: 100%;
        }
        .left {
          order: 1;
        }
        .right {
          order: 2;
        }
      }
    }
  }
  &.stack-mobile {
    @include tab-max {
      > div {
        flex-basis: 100%;
      }
    }
  }
  &.stack-tablet {
    @include limbo-max {
      > div {
        flex-basis: 100%;
      }
    }
  }
}
