.il_section{

    &.past_events_section{
        h3{}
        p{}

        .past_events_section_posts{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            article{
                flex: 48% 0 0;
            }
        }
    }



}