.team{
  .intro_title{
    font-size: 5.6rem;
    font-weight: 600;
    margin-bottom: 4.8rem;
  }
  .il_team_row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    @include limbo-max {
      width: 90%;
    }
 
    .il_team_member {
      box-shadow: 10px -3.77px 65.5759px rgba(119, 115, 170, 0.1);
      background: #FFFFFF;
      border-radius: 20px;
      margin-bottom: 4.8rem;
      padding: 3.3rem;
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      flex:calc(33% - 50px) 0 0;


      @media (min-width: 1060px) and (max-width: 1360.5px) {
        flex:calc(33% - 24px) 0 0;
        padding: 3rem;
      }
      
      @media (max-width: 1060px){
        flex:calc(50% - 40px) 0 0;
        padding: 3.3rem;
      }

      @media (max-width: 860px) {
        flex:calc(50% - 20px) 0 0;
        margin-bottom: 40px;
      }

      @media (max-width: 600px) {
        flex:100% 0 0;
      }
      
      @include mob-only {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
      }
      figure{
        margin: 0 0 2.4rem;
      }
      .member_name {
        color: #2BB99B;
        display: flex;
        font-size: 2.8rem;
        font-weight: 700;
        margin-bottom: .8rem;
        justify-content: center;
        @media (min-width: 1060px) and (max-width: 1360.5px) {
          font-size: 2.5rem;
        }
        svg {
          margin-top: 0.5rem;
          height: 2.6rem;
          @include mob-only {
            margin-top: 0.9rem;
          }
          margin-right: 1.5rem;
          transition: var(--theme-transition);
          path {
            transition: var(--theme-transition);
          }
        }
        @include tab-max {
          font-size: 20px;
          svg {
            height: 20px;
          }
        }
      }
      .member_position {
        color: #57585D;
        font-size: 1.8rem;
        margin-bottom: 2.4rem;
        text-align: center;
        @media (max-width: 600px) {
          max-width: 350px;
        }
        @include tab-max {
          font-size: 16px;
        }
      }
      .member_button{
        display: block;
        padding: 11px 4rem;
        background: #EA3E85;
        border-radius: 8px;
        color:#fff;
        font-size: 1.8rem;
        max-width: fit-content;
        @include mob-only{
          font-size: 16px;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
  
    .member_text {
      position: relative;
      display: none;
      box-shadow: 10px -3.77px 65.5759px rgba(119, 115, 170, 0.1);
      transition: var(--theme-transiton);
      border-radius: 20px;
      background-color:#fff;
      background-image: url( ../../../assets/icons/team-background.png);
      background-repeat: no-repeat;
      background-size: 35%;
      background-position: left bottom;
      padding:var(--b-space-2);

      @media (max-width: 600px){
        padding:45px;
      }
  
      &_inner{
        display: flex;
        justify-content: space-between;


        @include limbo-max{
          flex-direction: column;
        }

        &_left{
          flex: 41% 0 0;
          padding-right: 60px;
          @include limbo-max{
            flex: 100% 0 0;
            padding-right: 0;
          }
        
          figure{
            max-width: 395px;
            @include limbo-max{
              width: 50%;
            }
            @media (max-width: 600px){
              width:100%;
            }
          }
        }
        &_right{
          flex:59% 0 0;
          position: relative;
          .member_box{
            &_name{
              font-weight: 600;
              font-size: 5.6rem;
              line-height: 120%;
              color: #2BB99B;
              margin-bottom: 0.4rem;
            }
            &_position{
              font-family: "Font Secondary";
              font-weight: 500;
              font-size: 1.8rem;
              color: #EA3E85;
              max-width: 530px;
              display: block;
              @include tab-max{
                font-size: 16px;
              }
            }
            &_description{
              padding-top: 3.6rem;
              p{
                font-family: "Font Secondary";
                font-weight: 400;
                font-size: 1.8rem;
                color: #27282E;
                @include tab-max{
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
  
      .close {
        position: absolute;
        cursor: pointer;
        top:100px;
        right: 100px;
        @include tab-max{
          top:75px;
          right: 75px;
        }

        @media (max-width: 600px){
          top:45px;
          right: 45px;
        }
      }
    

    }
  
    @include tab-min {
      &:not(:last-child) {
        .member_text {
          margin-bottom: 6rem;
        }
      }
    }
  }
}
