.il_video_section {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    .il_section_inner{
      background: #fff;
      box-shadow: -5px -2px 13px 11px rgba(0, 0, 0, 0.04);
      border-radius: 40px;
      padding-left: 4rem;
      @include limbo-max {
        padding: 4rem 0 0 0;
        margin-top: 4rem;
      }

      .left{
        padding-top: 7rem;
        padding-bottom: 4rem;
        @include limbo-max {
          padding: 0 4rem;
        }
        @include desk-min {
          max-width: 560px;
        }

        .il_section_title{
          font-size: 4.4rem;
          line-height: 1.26;
          margin-bottom: 2.7rem;
        }

      }

      .right{
        display:flex;
        flex-direction: row;
        justify-content: end;
        a {
          line-height: 0;
        }
        @include desk-min {
          &:after {
            content: url( ../../../assets/icons/right-react-background-full.png);
            position: absolute;
            z-index: -1;
            margin-right: -8%;
            top: -6%;
          }
        }
        @include limbo-max {
          justify-content: start;
          a {
            width: 100%;
            img {
              width:100%;
              height: 31rem;
              object-fit: cover;
              object-position: center;
              border-radius: 0 0 40px 40px;
            }
          }
        }
      }

      @include limbo-max {
          > div {
            flex-basis: 100%;
          }
      }
    }

}
